
<div class="container flex  m-5">
  <p class="font-roboto font-bold mx-auto">Auftragsnummer</p>
</div>

<div class="overflow-x-auto container flex align-middle justify-center">
  <table class="table table-zebra w-[90%] h-[90%] flex m-3">
    <!-- head -->
    <thead>
      <tr>
        <th>ID</th>
        <th>Dateiname</th>
        <th></th>
        <th>Öffnen</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <tr>
        <th>1</th>
        <td>Cy Ganderton</td>
        <td>Quality Control Specialist</td>
        <td>Blue</td>
      </tr>
      <!-- row 2 -->
      <tr>
        <th>2</th>
        <td>Hart Hagerty</td>
        <td>Desktop Support Technician</td>
        <td>Purple</td>
      </tr>
      <!-- row 3 -->
      <tr>
        <th>3</th>
        <td>Brice Swyre</td>
        <td>Tax Accountant</td>
        <td>Red</td>
      </tr>
    </tbody>
  </table>
</div>
